<p>Create a new restaurant</p>
<%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :phone_number %>
  <%= f.input :category %>
  <%= f.input :address %>
  <%= f.submit %>
<% end %>
